<!DOCTYPE HTML>
<html lang="ru-RU">
<head>
<meta charset="utf-8">
<title>Online Orders.km.ua</title>

<link rel="stylesheet" type="text/css" href="main_stylesheet.css" />
</head>
<body>
<div id="white_bg">
    <nav>
    	<div id="nav_main">&nbsp;  Home &nbsp;</div>
    </nav>
    
    <div id="LogInOut">
    	<a href="#">Log In </a>
    </div>
    <div id="registration">
    	<a href="#">&nbsp;Registration</a>
    </div>
    
    <div id="soc_network">
    	<img id="facebook" src="images/icons/facebook.png" />
    	<img id="vkontakte" src="images/icons/vkontakte.png" />
    	<img id="twitter" src="images/icons/twitter.png" />
    	<img id="google" src="images/icons/google.png" />
    	<img id="youtube" src="images/icons/youtube.png" />
    </div>
    
    <div id="logo">
    	
    </div>
    
    <div id="presentation">    

<OBJECT classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,0,0" WIDTH="600" HEIGHT="150" id="video/storm.swf" ALIGN="">
 <PARAM NAME=movie VALUE="video/storm.swf"> <PARAM NAME=quality VALUE=high> <PARAM NAME=bgcolor VALUE=#333399> <EMBED src="video/storm.swf" quality=high bgcolor=#333399 WIDTH="600" HEIGHT="150" NAME="video/storm.swf" ALIGN="" TYPE="application/x-shockwave-flash" PLUGINSPAGE="http://www.macromedia.com/go/getflashplayer"></EMBED> </OBJECT> 

    
  </div>
    
    <div id="news">
    	<div id="LastNews">
        	<div id="newsTitle">
            	<span style="margin: 5px 0px 2px 10px;">Last News</span>
            </div>
        </div>
        
        <div id="RandNews">
            <div id="newsTitle">
            	<span style="margin: 5px 0px 2px 10px;">Random News</span>
            </div>
        </div>    
    </div>
    
</div>



</body>
</html>

